* {

    font-family: "Josefin Sans", sans-serif;    
}
body {
	background-image: url('https://images5.alphacoders.com/614/614955.png');
	background-size: 100%;
	text-align: center;
}

.rodape {
	position: fixed;
	bottom: 0;
	width: 100%;

}
.col{
	width: 800px;
}
.trainer1{
	margin-right: 900px;
} 
.trainer2{
	margin-left: 500px;
}
.trainer3{
	margin-right: 900px;
} 
.trainer4{
	margin-left: 500px;
}
